@charset "utf-8";
/* CSS Document */

body {
	background-color: antiquewhite;
}

h1 {
	color: saddlebrown;
	text-align:center
}

p {
	color:#895C4A;
	text-align: right
}

a{
	text-decoration: none
}
#firstp {
    line-height: 5;
	color: rosybrown
}
.blue {
	color: cadetblue;
}

.red {
	color: indianred;
}
